.articles
  margin-top: 35px;
  border: black;
  border-style: solid;
}

/*slider setting*/
.carousel {
 width:100%;
 min-height: 150px !important;
}
.carousel .item{
 /*padding-left: 220px;*/
 overflow: hidden;
 margin-top: 60px;
}
/* .carousel a:link{
    color:#FFFFFF;
    text-decoration:none
} */

.carousel img{
 margin-left: 40px;
}

.carousel-inner h2{
  font-family: Montserrat;
}

.slider h2{
  font-family: Montserrat;
}

.carousel-control-prev{
  float: left;
  margin-top: -60px;
  color: #BDBDBD;
}
.carousel-control-next{
  float: right;
  margin-top: -60px;
  color: #BDBDBD;
}

.carousel-indicators li {
  border: 1px solid #555;
  margin-bottom: 0px;
}
.carousel-indicators {
    bottom: -10px;
}

.carousel h4{
  margin-left: 50px;
  font-family: monospace;
  color: #000
}
/*slider setting*/

/*header setting*/
.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}
.navbar{
  background: #383535;
  margin-bottom: 0;
  min-height: 50px;
  border-radius: 0px;
  /*padding: 10px;*/
  /*width:100%;
  /*height: 150px
  !important;*/
}
.navbar-header{
  display: block;
  background: #383535;
  font-size: 16px;
  width:100%;
  margin-bottom: 0
  !important;
}
/* .navbar-header a{
  color: #bbb;
} */
.navbar-inverse {
  border-style: none;
}

/* .myNavbar{
    width: 100%;
} */

@media screen and (min-width: 1200px){
    .container {
        width: 1370px;
      }
    .workdescription {
      padding-bottom: 15px;
      line-height: 0.9;
      }
    .carousel-inner {
        min-height: 350px;
      }
    .blog{
        min-height: 180px;
      }
    .flexible{
        min-height: 150px;
      }
    .related::before {
        display: block;
        width: 100%;
        height: .25rem;
        background-color: #838485;
        margin-bottom: 1rem;
        content: "";
      }
    .related::after {
        display: block;
        width: 100%;
        height: .25rem;
        background-color: #838485;
        margin-bottom: 1rem;
        content: "";
      }
    }
    .grid-content-docker {
      min-height: 570px !important
      /* padding-left: 85px; */
    }
    .grid-content-jenkins {
      min-height: 350px !important
      /* padding-left: 85px; */
    }
    .grid-content-devops {
      min-height: 280px !important
      /* padding-left: 85px; */
    }
    .grid-content2 {
      min-height: 650px !important
      !important;
      padding-bottom: 15px;
    }
    .grid-content-about {
      min-height: 750px;
      !important;
      padding-bottom: 15px;
    }
    .menu{
        padding-right: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
      }

    .navbar-inverse .navbar-nav > a:hover{
      color: #A4A4A4;
      }

    .logo img{
      max-width: 54px;
      max-height: 54px;
      margin-left: 25px;
      margin-top: 25px;
      border-radius: 10%;
      }
      /*header menu setting*/
      .dropdown-menu .sub-menu{
        left: 100%;
        position: absolute;
        top: 0;
        visibility: hidden;
        margin-top: -1px;
        font-size: large;
      }
      /* .dropdown-menu li:hover .sub-menu{
        visibility: visible;
      } */
      /* .dropdown:hover .dropdown-menu{
        display: block;
      } */
      /*PROBLEMKIND*/

      .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
        color: #fff;
        background-color: #5a5a5a;
      }
      .navbar-inverse .navbar-nav > a {
        color: #fff;
        font-size: x-large;
        padding-right: 15px;
        }

      .navbar-inverse .navbar-nav > a:hover{
        color: #A4A4A4;
        }


      .dropdown-menu > a {
        font-size: large;
      }
      .navbar-inverse .navbar-nav .open > a {
        color: white;
        font-weight: 800;
      }
      .myNavbar {
        margin-top: -30px;
      }
      .telephone > a, .telephone > a:hover, .telephone > a:focus, .telephone > a:link, .telephone {
        margin-right: 15px;
        margin-top: 15px;
        float: right;
        color: white;
        font-family: Segoe UI, Tahoma, Geneva, sans-serif;
        font-size: 16px;
        letter-spacing: 0,2em;
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
      }
      .mail > a, .mail > a:hover, .mail > a:focus, .mail > a:link, .mail {
        margin-right: 250px;
        margin-top: 15px;
        float: right;
        color: white;
        font-family: Segoe UI, Tahoma, Geneva, sans-serif;
        font-size: 16px;
        letter-spacing: 0,2em;
        font-weight: bold;

      }

      .carousel-inner a{
        float: right;
        margin-right: 120px;
        font-family: Segoe UI, Tahoma, Geneva, sans-serif;
        font-size: 20px;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
    }
    .brand{
      font-size: 20px;
      font-family: monospace;
      padding-top: 25px;
      color: #9d9d9d;
      margin-left: 15px;
    }
    .brand h1{
      color: #9d9d9d;
    }
    .brand a{
      color: #bcc1c1;
    }
  }

@media (max-width: 1199px) {
        .grid-content {
          /* min-height: 730px
          !important; */
          padding-bottom: 15px;
          }
        .grid-content2 {
          /* min-height: 580px
          !important; */
          padding-bottom: 15px;
          /* padding-top: 380px; */
        }
        .grid-content-cloud-migration {
          /* min-height: 880px */
          !important;
          padding-bottom: 15px;
          padding-top: 550px;
        }

        .grid-content-training-docker {
          /* min-height: 880px */
          !important;
          padding-bottom: 15px;
          /* padding-top: 1150px; */
        }
        .grid-content-devops-workshop {
          /* min-height: 880px */
          !important;
          padding-bottom: 15px;
          padding-top: 420px;
        }
        .menu {
          padding-right: 15px;
          padding-top: 20px;
          }
        .logo img{
          max-width: 54px;
          max-height: 54px;
          margin-left: 15px;
          margin-top: 15px;
          border-radius: 10%;
        }
        .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
          color: #fff;
          background-color: #5a5a5a;
          }
        .navbar-inverse .navbar-nav > li > a {
          color: #fff;
          font-weight: 800;
          }
        .dropdown-menu > li > a {
          font-size: large;
        }
        /* .myNavbar {
          margin-top: -30px;
        } */
        .telephone > a, .telephone > a:hover, .telephone > a:focus, .telephone > a:link, .telephone {
          margin-right: 15px;
          margin-top: 15px;
          float: right;
          color: white;
          font-family: Segoe UI, Tahoma, Geneva, sans-serif;
          font-size: 16px;
          letter-spacing: 0,2em;
          -webkit-font-smoothing: antialiased;
          font-weight: bold;
        }
        .mail > a, .mail > a:hover, .mail > a:focus, .mail > a:link, .mail {
          margin-right: 15px;
          margin-top: 15px;
          float: right;
          color: white;
          font-family: Segoe UI, Tahoma, Geneva, sans-serif;
          font-size: 16px;
          letter-spacing: 0,2em;
          font-weight: bold;

        }
        .carousel-inner a{
          float: right;
          margin-right: 120px;
          font-size: 20px;
          font-weight: bold;
          -webkit-font-smoothing: antialiased;
        }
        .brand{
          font-size: 20px;
          font-family: monospace;
          padding-top: 25px;
          color: #9d9d9d;
          margin-left: 15px;
        }
        .brand h1{
          color: #9d9d9d;
        }
        .brand a{
          color: #bcc1c1;
        }
      }

@media (max-width: 1199px) and (orientation: landscape) {
        .grid-content {
          /* min-height: 730px
          !important; */
          padding-bottom: 15px;
          }
        .grid-content2 {
          /* min-height: 580px
          !important; */
          padding-bottom: 15px;
          padding-top: 380px;
        }
        .grid-content-cloud-migration {
          /* min-height: 880px */
          !important;
          padding-bottom: 15px;
          padding-top: 550px;
        }
        .grid-content-training {
          /* min-height: 880px */
          !important;
          padding-bottom: 15px;
          /*300 for ipdad portrait*/
          padding-top: 300px;
        }
        .grid-content-training-docker {
          /* min-height: 880px */
          !important;
          padding-bottom: 15px;
          padding-top: 1150px;
        }
        .grid-content-devops-workshop {
          /* min-height: 880px */
          !important;
          padding-bottom: 15px;
          padding-top: 720px;
        }
        .grid-content-devops-workshop2 {
          /* min-height: 880px */
          !important;
          padding-bottom: 15px;
          padding-top: 490px;
        }
      }

/*--------------------------------------------------------------
5. x <= 1100px (iPad Landscape)
--------------------------------------------------------------*/
@media screen and (max-width: 1100px) and (orientation: landscape) {
  .grid-content-training {
    /* min-height: 880px */
    !important;
    padding-bottom: 15px;
    padding-top: 340px;
  }
}
/*--------------------------------------------------------------
6. x <= 990px (iPad Portrait)
--------------------------------------------------------------*/
@media screen and (max-width: 990px) and (orientation: portrait){
  .grid-content-training {
    /* min-height: 880px */
    !important;
    padding-bottom: 15px;
    /*680 for ipdad portrait*/
    padding-top: 680px;
  }
}
/*--------------------------------------------------------------
6. x <= 767px (iPhone Portrait)
--------------------------------------------------------------*/
@media screen and (max-width: 767px) and (orientation: portrait){
  .grid-content-training {
    /* min-height: 880px */
    !important;
    padding-bottom: 15px;
    padding-top: unset;
  }
}
/*--------------------------------------------------------------
6. x <= 740px (galaxy Landscape)
--------------------------------------------------------------*/
@media screen and (max-width: 740px) and (orientation: landscape){
  .grid-content-training {
    /* min-height: 880px */
    !important;
    padding-bottom: 15px;
    padding-top: unset;
  }
}
/*--------------------------------------------------------------
6. x <= 812px (IPhone XS/X Landscape)
--------------------------------------------------------------*/
@media screen and (max-width: 812px) and (orientation: landscape){
  .grid-content-training {
    /* min-height: 880px */
    !important;
    padding-bottom: 15px;
    padding-top: 680px;;
  }
}
/*--------------------------------------------------------------
6. x <= 667px (iPhone Landscape)
--------------------------------------------------------------*/
@media screen and (max-width: 667px) and (orientation: landscape){
  .grid-content-training {
    /* min-height: 880px */
    !important;
    padding-bottom: 15px;
    padding-top: unset;
  }
}


@media (max-width: 767px) {
      .blog{
        min-height: 150px;
      }
      .menu {
        padding-right: 35px;
        padding-top: 10px;
        padding-bottom: unset;
        display: block;
      }
      .logo img{
        max-width: 44px;
        max-height: 44px;
        /* margin-left: -30px; */
        margin-top: 15px;
        border-radius: 10%;
      }
      .bigimg {
        height: 150px;
        width: auto;
      }
      .brand{
        font-size: 14px;
        font-family: monospace;
        padding-top: 20px;
        margin-left: -30px;
        color: #9d9d9d;
        margin-left: 15px;
      }
      .brand h1{
        color: #9d9d9d;
      }
      .brand a{
        color: #bcc1c1;
      }
      .navbar-header-sm-device {
        padding-top: 28px;
      }
      .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open {
        color: #fff;
        background-color: #5a5a5a;
        border-style: none;
      }
      .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: white;
        font-weight: 800;
      }
      .navbar-toggle{
        margin-right: 0px;

      }
      .navbar-collapse{
        border-style: none;
        border-top: none;
        box-shadow: none;
      }
      .telephone > a, .telephone > a:hover, .telephone > a:focus, .telephone > a:link, .telephone {
        margin-right: 15px;
        margin-top: 15px;
        float: right;
        color: white;
        font-family: Segoe UI, Tahoma, Geneva, sans-serif;
        font-size: 12px;
        letter-spacing: 0,2em;
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
      }
      .mail > a, .mail > a:hover, .mail > a:focus, .mail > a:link, .mail {
        margin-right: 250px;
        margin-top: 15px;
        float: right;
        color: white;
        font-family: Segoe UI, Tahoma, Geneva, sans-serif;
        font-size: 16px;
        letter-spacing: 0,2em;
        font-weight: bold;
      }
      .contact {
        float: left;
        margin-left: 10px;
        margin-top: -5px;
      }
      .carousel-inner a{
        float: right;
        /* margin-right: 80px; */
        font-size: 14px;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
      }
      .other-content img{
        max-width: 63px;
        max-height: 34px;
      }
      .related::before {
          display: block;
          width: 100%;
          height: .25rem;
          background-color: #838485;
          margin-bottom: 1rem;
          content: "";
        }
      .related::after {
          display: block;
          width: 100%;
          height: .25rem;
          background-color: #838485;
          margin-bottom: 1rem;
          content: "";
        }
      .container {
        padding-left: 25px;
      }
    }
/*header setting*/

/*footer setting*/
.navbar-fixed-bottom {
  background: #5a5a5a;

}
.navbar-fixed-bottom a{
  color: white;
}
.navbar-default .navbar-text {
    color: #bdb9b9;
}
/*footer setting*/


/*content setting*/





.grid-content4 {
  min-height: 250px
  !important;
  padding-bottom: 15px;
}
.boxes{
  /* padding-bottom: 35px; */
  font-size: 20px;
  /* max-width: 450px; */
  /* height: 280px; */
  padding-top: 15px;

}
.boxes span
{
    display: block;
}

.boxes a
{
    color: #000;
}

.boxes2{
  /* padding-top: 35px;
  font-size: 18px; */

}
/*about page*/

.about
{
    min-height: 150px;
    max-width: unset;
    padding-top: 55px;
}
.about img
{
    /* float: right; */
}
.titles
{
  /* border: 1px solid; */
  font-size: 16px;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
  padding-top: 5px;
  color: #5D67B9;
  text-align: inherit;

}
.titles-name
{
  /* border: 1px solid; */
  font-size: 18px;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
  padding-top: 5px;
  color: #5D67B9;
}

.titles-form
{
  text-align: center;
}

.circle2 {
  background-color: #5D67B9;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 150%;
  /* position: relative;
  display: inline-block;
  padding: 5px;
  top: -45px;
  left: 72px; */
}

.circle3 {
  background-color: #D8D8D8;
  height: 44px;
  width: 44px;
  border-radius: 10%;
  text-align: center;
  vertical-align: middle;
  font-size: 150%;
  color: #fff;
  display: inline-block;
  position: relative;
  padding: 5px;
  /* top: -45px;
  left: 72px; */
}

.circle4 {
    background-color: #D8D8D8;
    border-radius: 10%;
    text-align: center;
    vertical-align: middle;
    font-size: 150%;
    color: #fff;
    display: inline-block;
    position: relative;
}
/*about page*/


.other-content span{
    display: block;
}
/* .offer_payment, .offer_location {
  padding-bottom: 50px;
  padding-top: 50px;
} */

.partner-content, .offer_payment, .offer_location, .offer_head, .offer_map {
  padding-bottom: 50px;
  /* padding-top: 250px; */
}
/* .offer_location {
  background-color: #FAFAFA;
} */
.partner-content h4{
  padding-left: 30px;
  padding-bottom: 10px;
}
.partner-content img {
  max-width: 100px;
  max-height: 75px;
}
body {
    padding-bottom: 100px; /* This should be equal to the height of your header */
}


/*content setting*/

/*language picker*/
.language {
  /* float: left;
  margin-left: 35px; */
}


@font-face {
  font-family: 'Glyphicons Halflings';
  src:  url('./fonts/glyphicons-halflings-regular.woff') format('woff'),
        url('./fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg'),
        url('./fonts/glyphicons-halflings-regular.ttf') format('truetype'),
        url("./fonts/glyphicons-halflings-regular.eot?#iefix") format('embedded-opentype');

        font-weight: normal;
        font-style: normal;
        font-display: fallback;
}



/*feature_toogle*/
.feature_toogle {
  display: none;
}
/*feature_toogle*/

  .circle {
    background-color: #5D67B9;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 150%;
    color: #fff;
     position: relative;
    display: inline-block;
    padding: 5px;
    /* top: -45px;
    left: 72px; */
  }


  .cloud-migration-table th{
    padding-left: 30px;
    }
  .cloud-migration-table td{
    padding-left: 30px;
    }
  /* .cloud-migration a {
    text-align: center;
  } */
  .cloudops-transformation-liste{
    margin-right: 20px;
  }
  /* ul{
    list-style-type: none;
  } */

  /* a:link {
    text-decoration: none;
    } */
  .start_page_links a { color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: none;
  }

  .cookie-link{
    color: #5D67B9;
  }
  /*style cookie banner*/
  .cc-window.cc-banner .cc-message {

      margin-right: 0;
      font-size: 14px;

  }
  .cc-theme-classic .cc-btn:last-child {

      min-width: 40px;

  }

  .cc-link {

      opacity: .8;
      display: inline-block;
      padding: .2em;
      color: white;
      text-decoration-line: underline;

  }
  /*style cookie banner*/
  body {
    font-family: 'Noticia Text';
    letter-spacing: -0.02em;
    font-size: 20px;
  }
  .h1, h1 {
    font-size: 32px;
    color: #5D67B9;
    font-family: monospace;
    }
  .h2, h2 {
    font-size: 28px;
    font-family: monospace;
    }
  .h3, h3 {
    font-size: 22px;
    font-family: monospace;
    }
  .h4, h4 {
    font-size: 20px;
    font-family: monospace;
    color: #5D67B9;
    }

  .th, th, .td, td {
    padding: 10px;
    border: 1px solid black;
    }
