{% if layout.common-ext-js %}
  {% for js in layout.common-ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if layout.common-js %}
  {% for js in layout.common-js %}
    {% if js contains 'jquery' %}
    <!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->
      <script>
      	if (typeof jQuery == 'undefined') {
          document.write('<script src="{{ js | relative_url }} async"></scr' + 'ipt>');
      	}
      </script>
    {% else %}
      <script src="{{ js | relative_url }}" async></script>
    {% endif %}
  {% endfor %}
{% endif %}

{% if page.ext-js %}
  {% for js in page.ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if page.js %}
  {% for js in page.js %}
    <script src="{{ js | relative_url }} async"></script>
  {% endfor %}
{% endif %}
