<footer>
  <div class="footer">
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
          <p class="navbar-text pull-right">
            © Copyright 2019 elastic2ls<span class="hidden-xs hidden-sm">, All rights reserved.</span>
             |
            <a href="impressum">Impressum</a>
            <span class="hidden-md hidden-lg"> |</span>
            <a class="hidden-md hidden-lg" href="mailto:info@elastic2ls.com?subject=feedback">Kontakt <span class="glyphicon glyphicon-envelope"></span></a>
             <!-- |
            <a href="https://join.slack.com/t/elastic2lscom/shared_invite/enQtNjcwOTc4NDg3MDU2LWUwZWM5YmE0OWY0MmNjMzk5NWUwMGM4YTgzMWM1NjgzOTc3M2NkNGJlZDUxNjAzMDY2NjdkNjM2NGMzNzUxNTE">Slack <span class="glyphicon glyphicon-pencil"></span></a> -->
          </p>
        </div>
      </div>
    </div>
</footer>
