<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=6.0, viewport-fit=cover"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.use-site-title %}{{ site.title }} {{ site.title-separator }} {{ site.description }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="author" content="{{ site.author.name }}" />

  {% if page.subtitle %}
  <meta name="description" content="{{ page.subtitle }}">
  {% endif %}

  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}"/>
  {% endif %}
  <link rel="shortcut icon" href="/favicon.ico"> 
  <link rel="manifest" href="/manifest.json">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} {{ site.title-separator }} {{ site.description }}" href="{{ '/feed.xml' | absolute_url }}" />
  <link rel="dns-prefetch" href="https://www.google-analytics.com">
  <link rel="dns-prefetch" href="https://www.googletagmanager.com">
  <link href="https://www.google-analytics.com" rel="preconnect" crossorigin>
  <link href="https://www.googletagmanager.com" rel="preconnect" crossorigin>
  {% include gtag.html %}
  {% include gtm_head.html %}
  {% include google_analytics.html %}

  {% if layout.common-ext-css %}
    {% for css in layout.common-ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}

  {% if layout.common-css %}
    {% for css in layout.common-css %}
      <link rel="stylesheet" href="{{ css | relative_url }}" async />
    {% endfor %}
  {% endif %}

  <!-- {% if layout.common-googlefonts %}
    {% for font in layout.common-googlefonts %}
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}" async />
    {% endfor %}
  {% endif %} -->

  {% if page.ext-css %}
    {% for css in page.ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}

  {% if page.css %}
    {% for css in page.css %}
      <link rel="stylesheet" href="{{ css | relative_url }}" />
    {% endfor %}
  {% endif %}

  <!-- {% if page.googlefonts %}
    {% for font in page.googlefonts %}
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}" async />
    {% endfor %}
  {% endif %} -->

    <!-- Facebook OpenGraph tags -->
  {% if site.fb_app_id %}
  <meta property="fb:app_id" content="{{ site.fb_app_id }}" />
  {% endif %}

  {% if page.meta-title %}
  <meta property="og:title" content="{{ page.meta-title }}" />
  {% elsif page.title %}
  <meta property="og:title" content="{{ page.title }}" />
  {% else %}
  <meta property="og:title" content="{{ site.title }}" />
  {% endif %}

   {% if page.meta-description %}
  <meta property="og:description" content="{{ page.meta-description }}">
  {% elsif page.subtitle %}
  <meta property="og:description" content="{{ page.subtitle }}">
  {% else %}
  <meta property="og:description" content="{{ page.content | strip_html | xml_escape | truncatewords: 50 }}">
  {% endif %}


  <meta property="og:type" content="website" />
  {% if page.id %}
    {% if jekyll.environment == "production" %}
      <meta property="og:url" content="{{ page.url | absolute_url }}" />
      <link rel="canonical" href="{{ page.url | absolute_url }}" />
    {% endif %}
  {% else %}
  <meta property="og:url" content="{{ page.url | absolute_url | strip_index }}" />
  <link rel="canonical" href="{{ page.url | absolute_url | strip_index }}" />
  {% endif %}

  {% if page.share-img %}
  <meta property="og:image" content="{{ page.share-img }}" />
  {% elsif site.avatar %}
  <meta property="og:image" content="{{ site.avatar | absolute_url }}" />
  {% endif %}


  <!-- Twitter summary cards -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ site.author.twitter }}" />
  <meta name="twitter:creator" content="@{{ site.author.twitter }}" />

  {% if page.meta-title %}
  <meta name="twitter:title" content="{{ page.meta-title }}" />
  {% elsif page.title %}
  <meta name="twitter:title" content="{{ page.title }}" />
  {% else %}
  <meta name="twitter:title" content="{{ site.title }}" />
  {% endif %}

  {% if page.meta-description %}
  <meta name="twitter:description" content="{{ page.meta-description }}">
  {% elsif page.subtitle %}
  <meta name="twitter:description" content="{{ page.subtitle }}">
  {% else %}
  <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncatewords: 50 }}">
  {% endif %}

  {% if page.share-img %}
  <meta name="twitter:image" content="{{ page.share-img }}" />
  {% elsif site.avatar %}
  <meta name="twitter:image" content="{{ site.avatar | absolute_url }}" />
  {% endif %}

  <!-- favicon settings-->
  <link rel="apple-touch-icon" sizes="57x57" {{ site.url }}/icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" {{ site.url }}/icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" {{ site.url }}/icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" {{ site.url }}/icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" {{ site.url }}/icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" {{ site.url }}/icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" {{ site.url }}/icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" {{ site.url }}/icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" {{ site.url }}/icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  {{ site.url }}/icon/android-icon-192x192.png">
  <link rel="apple-touch-icon" sizes="512x512" {{ site.url }}/icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="32x32" {{ site.url }}/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" {{ site.url }}/icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" {{ site.url }}/icon/favicon-16x16.png">
  <link rel="manifest" href="./manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="./icon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- favicon settings-->
  <!-- splash screen apple-->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link {{ site.url }}/icon/apple_splash_2048.png" sizes="2048x2732" rel="apple-touch-startup-image" />
  <link {{ site.url }}/icon/apple_splash_1668.png" sizes="1668x2224" rel="apple-touch-startup-image" />
  <link {{ site.url }}/icon/apple_splash_1536.png" sizes="1536x2048" rel="apple-touch-startup-image" />
  <link {{ site.url }}/icon/apple_splash_1125.png" sizes="1125x2436" rel="apple-touch-startup-image" />
  <link {{ site.url }}/icon/apple_splash_1242.png" sizes="1242x2208" rel="apple-touch-startup-image" />
  <link {{ site.url }}/icon/apple_splash_750.png" sizes="750x1334" rel="apple-touch-startup-image" />
  <link {{ site.url }}/icon/apple_splash_640.png" sizes="640x1136" rel="apple-touch-startup-image" />
  <!-- splash screen apple-->
</head>
