<!-- <div class="header"> -->
  <nav class="navbar">
    <div class="navbar-header">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="logo pull-left">
              <a id="hostname1" href="#" aria-label="back to home" ><img src="/img/Logo_box-1-150x150.png" alt="elastic2ls.com"></a>
          </div>
          <div class="brand pull-left">
              <h3>
                <a id="hostname2" href="#" aria-label="back to home" ><span>elastic[too]ls.com</span></a>
              </h3>
          </div>
          <div class="contact">
            <a class="btn btn-primary mail hidden-xs hidden-sm" href="mailto:info@elastic2ls.com?subject=feedback">Kontaktieren Sie uns</a>
            <a class="btn btn-primary telephone " href="tel:01602665355"><span class="glyphicon glyphicon-earphone"></span> (+49) 160 - 2665355</a>
          </div>

          <div class="navbar-header">
            <div class="navbar-header-sm-device">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" title="myNavbar" aria-label="myNavbar" >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

          </div>
          <div class="collapse navbar-collapse pull-right myNavbar" id="myNavbar">
            <ul class="menu nav navbar-nav pull-left">
                <a id="consulting" class="menu consulting" href="#">Portfolio</a>

                <a id="training" class="menu menu-training" href="#">Trainings</a>

                <a id="blog" class="menu menu-blog" href="#">Blog</a>

                <a id="about" class="menu menu-about" href="#">Über uns</a>
            </ul>

          </div>
        </div>
      </nav>
    </div>
  </nav>
<!-- </div> -->
