---
common-css:
  - "/css/bootstrap.min.css"
  - "/css/main.css"
  - "/css/elastic2ls.com.css"

common-ext-css:
 - "//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css"

common-js:
  - "/js/jquery-3.4.1.min.js"
  - "/js/bootstrap.min.js"
  - "/js/main.js"
  - "/js/elastic2ls.com.js"
---

<!DOCTYPE html>
<html lang="en">
  <!-- elastic2ls | Copyright Alex Wiechert 2019 -->
  {% include head.html %}

  <body>

    {% include gtm_body.html %}

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

    {% include footer-scripts.html %}

  </body>
</html>
