---
common-css:
  - "/css/bootstrap.min.css"
  - "/css/elastic2ls.com.css"

common-ext-css:
  - //maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css
common-js:
  - "/js/jquery-3.4.1.min.js"
  - "/js/bootstrap.min.js"
  - "/js/elastic2ls.com.js"
---

<!DOCTYPE html>
<html lang="de">
  {% include head.html %}

  <body>

    {% include gtm_body.html %}

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

    {% include footer-scripts.html %}

  </body>
</html>
